body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 25px;
  height: 100vh;
}

main {
  box-sizing: border-box;
  margin: 0;
  padding: 50px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}